@font-face {
  font-family: 'fontello';
  src: url('/static/font/fontello.eot?91463928');
  src: url('/static/font/fontello.eot?91463928#iefix') format('embedded-opentype'),
        url('/static/font/fontello.woff2?91463928') format('woff2'),
        url('/static/font/fontello.woff?91463928') format('woff'),
        url('/static/font/fontello.ttf?91463928') format('truetype'),
        url('/static/font/fontello.svg?91463928#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91463928#fontello') format('svg');
  }
}
*/
  
  [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

* {
  box-sizing: border-box;
}
  
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */

body {
  font-family: "proxima-nova","Helvetica Neue","Helvetica-Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
}

#app {
  max-width: 600px;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.navigation-item {
  margin-left: .75rem;
}

.navigation-item:first-of-type {
  margin-left: 0;
  margin-right: .75rem;
}

.navigation-item-link {
  padding-top: 5px;
  display: block;
}

.button {
  background-color: #00d18b;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.button--large {
  font-size: 1.3rem;
  padding: .7em 1.4em .65em;
}
.button--submit {
  display: block;
  margin: 0 auto;
  border: 1px solid #FEFEFE;
  padding: .5rem 1.5rem;
  font-weight: bold;
}

.dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .75rem;
  max-width: 600px;
}
.dashboard-form {
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  padding: 1em;
  text-align: center;
  width: 100%;
}
.dashboard-form-label {
  display: block;
}
.dashboard-form-select {
  background: #FFF;
  border: 1px solid #EEEEEE;
  padding: .5rem;
  margin: 1rem;
}
.dashboard-form-input {
  background: #FFF;
  border: 1px solid #EEEEEE;
  padding: .5rem;
  margin: 1rem;
}
.printer {
  align-self: flex-start;
  background: #FAFAFA;
  border: 1px solid #EEEEEE;  
  margin: .5rem 0;
  padding: 1rem;
  width: 100%;
}
.printer:hover{
  border: 1px solid #CCCCCC;
}
.printer-title {
  cursor: pointer;
  width: 100%;  
}

.material-color {
  display: inline-block;
  height: 12px;
  margin-right: .25rem;
  width: 12px;
}
